<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Truthenix</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="glass-card">

            <h1>Truthenix</h1>

            <p class="tagline">
                AI Powered Fake News Detection System
            </p>

            <form action="/predict" method="POST">

                <textarea
                    name="news"
                    placeholder="Paste your news article here..."
                    required>{{ user_input if user_input else '' }}</textarea>

                <button type="submit">
                    Analyze News
                </button>

            </form>

            {% if prediction %}

            <div class="result {{ color }}">

                <h2>{{ prediction }}</h2>

            </div>

            {% endif %}

        </div>

    </div>

</body>

</html>